body {
  font-family: "Poppins", sans-serif;
}

ul li {
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  list-style: none;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/088/964/original/unchecked.png?1688911903");
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/088/963/original/checked.png?1688911872");
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
}

ul li span:hover {
  background: orange;
}
.container {
  width: 100%;
  height: 100px;
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 500px;
  background: #5d9fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h4 {
  margin-bottom: 15px;
  text-align: center;
}
